Source: ros-melodic-fremen2dgrid
Section: misc
Priority: optional
Maintainer: Tom Krajnik <tkrajnik@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-catkin, ros-melodic-genmsg, ros-melodic-message-runtime, ros-melodic-nav-msgs, ros-melodic-roscpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-fremen2dgrid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-genmsg, ros-melodic-message-runtime, ros-melodic-nav-msgs, ros-melodic-roscpp
Description: Fremen2dgrid is a tool for prediction of cells' occupancy of 2d grids based on non-uniform Fourier Transform.
 It uses the frequency spectrum analysis to identify reoccuring patterns in temporal sequences of binary states and represents the probability of these states in an analythical form as a combination of harmonic functions. This allows to learn long-term dynamics of the environment and use the learned experience to predict states of the world models used in mobile robotics. This ability is beneficial for tasks like self-localization, object search, path planning, anomaly detection and exploration.
